<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Trackr</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- End of Favicon -->

    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- End of Css -->

    <!-- IonIcons -->
    <script
      defer
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      defer
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!-- End of IonIcons -->

    <!-- Scripts -->
    <script defer src="/assets/scripts/input.js"></script>
    <!-- End of Scripts -->
  </head>
  <body>
    <section class="forgot-password d-flex">
      <div class="container">
        <form method="POST" class="d-grid flow">
          <header class="d-grid">
            <!-- <ion-icon name="key-outline"></ion-icon> -->
            <ion-icon name="mail-outline"></ion-icon>
            <h2 class="fs-700 fw-600 ff-expletus text-dark">Check your mail</h2>
          </header>
          <p>
            We sent a password reset link to your email. If it doesn’t appear
            within a few minutes, check your spam folder.
          </p>

          <!-- <button
            role="button"
            class="btn btn-m btn__hover-effect fw-500 text-light"
          >
            <span></span>
            Return to sign in
            <span></span>
          </button> -->
          <a
            href="./signin.html"
            class="btn btn-m btn__hover-effect fw-500 text-light"
          >
            <span></span>
            Return to sign in
            <span></span>
          </a>
        </form>
      </div>
    </section>
  </body>
</html>
