.signin {
  &__illustration {
    grid-column: span 6;
    justify-self: flex-start;
    overflow: hidden;
    > svg {
      max-height: 39rem;
      aspect-ratio: 1;
    }
  }
  &__logo {
    // make use of clamp instead of width and max-width
    --width: 130px;
    width: var(--width);
    height: calc(0.7415137614678899 * var(--width));
    max-height: 218px;
    max-width: 161.65px;
  }
  &__form {
    --flow: 1.5rem;
    grid-column: 8/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr {
      height: 3px;
      color: var(--clr-ash);
      width: 100%;
    }
    .btn {
      &:first-of-type {
        --bg: var(--clr-primary);
        --bs: var(--clr-dark-200);
        --hbs: var(--clr-tertiary-400);
      }

      &:last-of-type {
        --bg: var(--clr-ash);
        --bs: var(--clr-dark-100);
        --hbs: var(--clr-light-100);
        --hbg: var(--clr-light);

        span:nth-of-type(2) {
          --flow-gap: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 0.75rem;
        }
        .icon__google {
          --size: 1.25rem;
          width: var(--size);
          height: var(--size);

          svg {
            height: var(--size);
          }
        }
      }
    }
  }
}

#usrname-email::before {
  src: url("../../assets/icons/key.svg");
  content: "";
}

ion-icon {
  position: absolute;
  top: 0.75rem;
  left: 1.3125rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-secondary);
}

.input {
  // .input-signup
  &-signin {
    --flow-gap: none;

    height: 48px;
    width: 400px;
    padding: 0.75rem 1.3125rem;
    border: none;
    border-radius: 8px;
    outline: 1px solid var(--clr-primary-100);
    color: var(--clr-light);
    background: var(--clr-light-100);
    box-shadow: 4px 4px var(--clr-primary-100);
    text-indent: 2.0625rem;

    &:is(:focus-visible) {
      outline: none;
      color: var(--clr-dark);
      background-color: var(--clr-light-400);
      box-shadow: 0px 4px 4px var(--clr-dark-100);
      outline: 2px solid var(--clr-tertiary);
    }

    &__container {
      position: relative;
    }
  }
}

.no-account {
  justify-self: flex-end;
}

// &__sign-in {
//   &__google {
// width: 25rem;
// box-shadow: 0 4px 4px var(--clr-dark-100);
// padding-left: 0.75rem;

// &:is(:hover, :focus-visible) {
//   box-shadow: 0 4px 4px var(--clr-ash-100);
// }
//   }
// }
