@use "../utilities/color" as *;

.signup {
  // container padding top 4rem and bottom 0
  --cpy: 5rem 0;
  &__illustration {
    grid-column: 7/13;
    justify-self: end;
    align-self: flex-start;
    overflow: hidden;
    > svg {
      max-height: 38rem;
      max-width: 36.018957345971565rem;
      // aspect-ratio: 1.0551948051948052;
    }
  }
  &__form {
    grid-column: 1/6;

    .btn {
      --bg: var(--clr-primary);
      --bs: var(--clr-dark-200);
      --hbs: var(--clr-tertiary-400);
    }
    .name {
      --flow-gap: 1.25rem;
      display: flex;
      justify-content: space-between;
      min-width: 100%;
    }
    .terms-and-conditions {
      margin-inline: auto;
      width: 43ch;
      font-size: var(--fs-200);
      line-height: 1.3;
      text-align: center;
    }
  }
}
