.dashboard__content {
  header h2 {
    text-transform: uppercase;
  }
  --color-text: #616161;
  --color-text-btn: var(--clr-light);
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7f00ff;
  --card2-gradient-color2: #e100ff;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;

  .cards {
    --grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .card {
    cursor: pointer;
    display: inline-block;
    width: 240px;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: var(--clr-ash);
      transform: scale(1.01);
    }
    img {
      height: 80%;
    }
    svg {
      height: 70%;
    }

    &__header {
      height: 200px;
      width: 100%;
      background: red;
      border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
      display: grid;
      place-items: center;

      &.one {
        background: linear-gradient(
          to bottom left,
          var(--card1-gradient-color1),
          var(--card1-gradient-color2)
        );
      }

      &.two {
        background: linear-gradient(
          to bottom left,
          var(--card2-gradient-color1),
          var(--card2-gradient-color2)
        );
      }

      &.three {
        background: linear-gradient(
          to bottom left,
          var(--card3-gradient-color1),
          var(--card3-gradient-color2)
        );
      }

      &.four {
        background: linear-gradient(
          to bottom left,
          var(--card4-gradient-color1),
          var(--card4-gradient-color2)
        );
      }

      &.five {
        background: linear-gradient(
          to bottom left,
          var(--clr-dark),
          var(--clr-dark-100)
        );
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      margin: 0 auto;
    }

    &__title {
      color: var(--clr-accent);
      text-align: center;
      text-transform: uppercase;
      font-family: var(--ff-expletus);
      font-size: var(--fs-500);
      font-weight: var(--fw-700);
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &__text {
      text-align: center;
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__btn {
      --br: 5rem;
      --px: 2rem;
      --bs: var(--clr-dark-400);
      --hbs: var(--color-text);

      font-family: var(--ff-inter);
      font-size: var(--fs-300);
      font-weight: var(--fw-600);
      color: var(--color-text-btn);
      margin-block-end: 1rem;

      &.one {
        background: linear-gradient(
          to left,
          var(--card1-gradient-color1),
          var(--card1-gradient-color2)
        );
      }

      &.two {
        background: linear-gradient(
          to left,
          var(--card2-gradient-color1),
          var(--card2-gradient-color2)
        );
      }

      &.three {
        background: linear-gradient(
          to left,
          var(--card3-gradient-color1),
          var(--card3-gradient-color2)
        );
      }

      &.four {
        background: linear-gradient(
          to left,
          var(--card4-gradient-color1),
          var(--card4-gradient-color2)
        );
      }

      &.five {
        background: linear-gradient(
          to left,
          var(--clr-dark),
          var(--clr-dark-100)
        );
      }
    }
  }
  .card {
    // border-radius: 2rem;
    // padding: 3rem 2rem;
    // margin-bottom: 3rem;

    .dropdown-items {
      height: 0;
      display: none;
      transition: height 500ms ease-in-out, opacity 500ms ease;

      &.active {
        height: fit-content;
        display: block;
      }
    }
    // .btn {
    //   font-family: var(--ff-inter);
    //   font-size: var(--fs-300);
    //   font-weight: var(--fw-600);
    // }

    li {
      color: var(--clr-accent);
      font-weight: var(--fw-500);
      font-size: var(--fs-300);
      width: 50ch;
    }
  }

  .exercise {
    &__type {
      border-bottom: 0.125rem solid var(--clr-light);

      .btn {
        --bg: var(--clr-secondary);
        color: var(--clr-light);
      }
    }
  }

  .hydration {
    .btn {
      --bg: var(--clr-accent);
      color: var(--clr-light);
    }
  }

  .sleep {
    &__info {
      border-bottom: 0.125rem solid var(--clr-light);
    }
    li {
      color: var(--clr-secondary-800);
    }

    .btn {
      --bg: var(--clr-secondary);
      color: var(--clr-light);
    }
  }

  .food-intake {
    &__info {
      border-bottom: 0.125rem solid var(--clr-light);
    }
  }
}
