/* Exercise form container */
.daily-exercise {
  grid-row: span 2;

  &.wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 2rem;
    align-items: start;
    position: relative;

    #exerciseForm {
      margin-bottom: 20px;
    }
  }

  /* Exercise dropdown styling */
  #exercise {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--clr-tertiary-800);
    font-size: 16px;
    color: #333;
  }

  /* Exercise steps styling */
  #exerciseSteps {
    counter-reset: step-counter;

    /* Header for exercise steps */
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #333;
    }

    /* Step styling */
    .step {
      --align-items: center;
      --justify-items: start;
      font-size: 16px;
      color: #555;

      &::before {
        counter-increment: step-counter;
        content: "Step " counter(step-counter) ".";
        display: inline-block;
        width: 4.875rem;
      }
    }

    .step-number {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      background-color: #007bff;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
      margin-right: 10px;
    }

    .step-instruction {
      flex-grow: 1;
    }
  }

  /* Videos container */
  #exerciseVideos {
    ul {
      display: grid;
    }

    li {
      list-style: none;
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0rem;
      }

      iframe {
        width: 100%;
        max-height: 20rem;
        aspect-ratio: 16/9;
        border: none;
        border-radius: 0.25rem;
        background: linear-gradient(
          to right,
          rgba(130, 130, 130, 0.2) 8%,
          rgba(130, 130, 130, 0.3) 18%,
          rgba(130, 130, 130, 0.2) 33%
        );
        background-size: 800px 100px;
        animation: wave-squares 2s infinite ease-out;
      }
    }

    @keyframes wave-squares {
      0% {
        background-position: -468px 0;
      }
      100% {
        background-position: 468px 0;
      }
    }
  }

  /* Button styling */
  .btn {
    --br: 5px;
    padding: 0.625em 1em;
    font-family: var(--ff-inter);
    color: var(--clr-light);

    &:hover {
      --bg: var(--clr-tertiary);
    }
  }

  /* Input and select styling */
  input[type="datetime-local"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
  }

  /* Responsive layout adjustments */
  @media (max-width: 600px) {
    #exerciseForm {
      padding: 10px;
    }
  }
}

#exercise-stats {
  padding: 2rem;

  .exercise-info {
    margin: 5px 0;
    --justify-content: space-between;
    padding-bottom: 0.3rem;
    border-bottom: 2px double var(--clr-primary);
  }
}

#exercise-instructions {
  grid-column: 1;
  grid-row: 3;
}

#exercise-videos {
  padding: 2rem;
  grid-column: 2;
  grid-row: span 3;
}
