// start: -94%  end: -200%

.glass {
  &-quote {
    width: 50ch;
    text-align: center;
  }
  &-water {
    --wave: -100%;
    --side: 206%;
    width: 200px;
    height: 200px;
    position: relative;
    background-color: #8ddbf5;
    box-shadow: inset 0 0 50px #1c637a;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);

    &::before {
      content: "";
      position: absolute;
      width: var(--side);
      height: var(--side);
      top: var(--wave);
      left: -50%;
      background-color: #ececec;
      border-radius: 40%;
      animation: wave 12s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(var(--side) + 5%);
      height: calc(var(--side) + 5%);
      top: var(--wave);
      left: -52%;
      background-color: #ececec80;
      border-radius: 40%;
      animation: wave 12s linear infinite;
      animation-delay: 0.5s;
    }

    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &-info {
    --flex-gap: 0;
    --flex-direction: column;
    width: 10.02rem;
  }

  &__controller {
    --flex-gap: 1rem;
  }
  &-add,
  &-remove {
    padding: 0.3em;
    display: flex;
    font-size: var(--fs-800);
    border: none;
    border-radius: 50%;
    background-color: hsl(195, 84%, 76%);
    box-shadow: inset 0 0 20px hsl(195, 63%, 29%);

    &:hover {
      box-shadow: inset 0 0 13px hsl(195, 63%, 29%),
        0 0 10px 2px hsl(195, 84%, 76%);
    }
    &:is(disabled:hover, :disabled) {
      background-color: hsl(192, 13.8%, 78.6%);
      box-shadow: none;
    }
  }

  &-water__form {
    .btn-m {
      --bg: hsl(195, 84%, 76%);
      color: var(--clr-black);
      box-shadow: inset 0 0 25px hsl(195, 63%, 29%);

      &:is(:hover, :focus-within) {
        box-shadow: inset 0 0 15px hsl(195, 63%, 29%),
          0 0 10px 2px hsl(195, 84%, 76%);
      }
    }
  }
}
