@import url("https://fonts.cdnfonts.com/css/inter");
@font-face {
  font-family: "Expletus Sans";
  src: url("../../assets/fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.woff2");
  font-weight: 400 700;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin, padding and font-size */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a.nav-links {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove animations and transition on window resize */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* Screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Global body css */
body {
  color: var(--clr-dark);
  background-color: var(--clr-light);
  font-size: var(--fs-400);
  font-family: "Inter", sans-serif;
}

:root {
  --clr-primary-100: hsla(170, 100%, 32%, 0.1);
  --clr-primary-150: hsla(170, 100%, 32%, 0.15);
  --clr-primary-400: hsla(170, 100%, 32%, 0.4);
  --clr-primary-800: hsla(170, 100%, 32%, 0.8);
  --clr-primary: hsl(170, 100%, 32%);
  --clr-secondary-100: hsla(36, 88%, 53%, 0.1);
  --clr-secondary-400: hsla(36, 88%, 53%, 0.4);
  --clr-secondary-600: hsla(36, 88%, 53%, 0.6);
  --clr-secondary: hsl(36, 88%, 53%);
  --clr-tertiary-400: hsla(164, 95%, 43%, 0.4);
  --clr-tertiary: hsl(164, 95%, 43%);
  --clr-accent: hsl(195, 83%, 16%);
  --clr-blue: hsl(230, 100%, 41%);
  --clr-ash-100: hsla(0, 0%, 85%, 0.1);
  --clr-ash-400: hsla(0, 0%, 85%, 0.4);
  --clr-ash: hsl(0, 0%, 85%);
  --clr-light-100: hsla(0, 0%, 100%, 0.1);
  --clr-light-400: hsla(0, 0%, 100%, 0.4);
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark-100: hsla(0, 0%, 10%, 0.1);
  --clr-dark-200: hsla(0, 0%, 10%, 0.2);
  --clr-dark-400: hsla(0, 0%, 10%, 0.4);
  --clr-dark: hsl(0, 0%, 10%);
  --clr-yellow: hsl(42, 100%, 70%);
  /* font-size variables */
  --fs-mega: 6rem;
  --fs-1000: clamp(2.61rem, 2.5rem + 0.55vw, 3rem);
  --fs-900: clamp(2.18rem, 2.09rem + 0.46vw, 2.5rem);
  --fs-800: clamp(1.81rem, 1.74rem + 0.38vw, 2.125rem);
  --fs-700: clamp(1.51rem, 1.45rem + 0.32vw, 1.75rem);
  --fs-600: clamp(1.26rem, 1.21rem + 0.27vw, 1.5rem);
  --fs-500: clamp(1.05rem, 1.01rem + 0.22vw, 1.25rem);
  --fs-400: clamp(0.88rem, 0.84rem + 0.19vw, 1rem);
  --fs-300: clamp(0.73rem, 0.7rem + 0.15vw, 0.875rem);
  --fs-200: clamp(0.61rem, 0.58rem + 0.13vw, 0.75rem);
  /* font-weight variables */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

.bg-primary-100 {
  background-color: hsla(170, 100%, 32%, 0.1);
}

.text-primary-100 {
  color: hsla(170, 100%, 32%, 0.1);
}

.bg-primary-150 {
  background-color: hsla(170, 100%, 32%, 0.15);
}

.text-primary-150 {
  color: hsla(170, 100%, 32%, 0.15);
}

.bg-primary-400 {
  background-color: hsla(170, 100%, 32%, 0.4);
}

.text-primary-400 {
  color: hsla(170, 100%, 32%, 0.4);
}

.bg-primary-800 {
  background-color: hsla(170, 100%, 32%, 0.8);
}

.text-primary-800 {
  color: hsla(170, 100%, 32%, 0.8);
}

.bg-primary {
  background-color: hsl(170, 100%, 32%);
}

.text-primary {
  color: hsl(170, 100%, 32%);
}

.bg-secondary-100 {
  background-color: hsla(36, 88%, 53%, 0.1);
}

.text-secondary-100 {
  color: hsla(36, 88%, 53%, 0.1);
}

.bg-secondary-400 {
  background-color: hsla(36, 88%, 53%, 0.4);
}

.text-secondary-400 {
  color: hsla(36, 88%, 53%, 0.4);
}

.bg-secondary-600 {
  background-color: hsla(36, 88%, 53%, 0.6);
}

.text-secondary-600 {
  color: hsla(36, 88%, 53%, 0.6);
}

.bg-secondary {
  background-color: hsl(36, 88%, 53%);
}

.text-secondary {
  color: hsl(36, 88%, 53%);
}

.bg-tertiary-400 {
  background-color: hsla(164, 95%, 43%, 0.4);
}

.text-tertiary-400 {
  color: hsla(164, 95%, 43%, 0.4);
}

.bg-tertiary {
  background-color: hsl(164, 95%, 43%);
}

.text-tertiary {
  color: hsl(164, 95%, 43%);
}

.bg-accent {
  background-color: hsl(195, 83%, 16%);
}

.text-accent {
  color: hsl(195, 83%, 16%);
}

.bg-blue {
  background-color: hsl(230, 100%, 41%);
}

.text-blue {
  color: hsl(230, 100%, 41%);
}

.bg-ash-100 {
  background-color: hsla(0, 0%, 85%, 0.1);
}

.text-ash-100 {
  color: hsla(0, 0%, 85%, 0.1);
}

.bg-ash-400 {
  background-color: hsla(0, 0%, 85%, 0.4);
}

.text-ash-400 {
  color: hsla(0, 0%, 85%, 0.4);
}

.bg-ash {
  background-color: hsl(0, 0%, 85%);
}

.text-ash {
  color: hsl(0, 0%, 85%);
}

.bg-light-100 {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.text-light-100 {
  color: hsla(0, 0%, 100%, 0.1);
}

.bg-light-400 {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.text-light-400 {
  color: hsla(0, 0%, 100%, 0.4);
}

.bg-light {
  background-color: hsl(0, 0%, 100%);
}

.text-light {
  color: hsl(0, 0%, 100%);
}

.bg-dark-100 {
  background-color: hsla(0, 0%, 10%, 0.1);
}

.text-dark-100 {
  color: hsla(0, 0%, 10%, 0.1);
}

.bg-dark-200 {
  background-color: hsla(0, 0%, 10%, 0.2);
}

.text-dark-200 {
  color: hsla(0, 0%, 10%, 0.2);
}

.bg-dark-400 {
  background-color: hsla(0, 0%, 10%, 0.4);
}

.text-dark-400 {
  color: hsla(0, 0%, 10%, 0.4);
}

.bg-dark {
  background-color: hsl(0, 0%, 10%);
}

.text-dark {
  color: hsl(0, 0%, 10%);
}

.bg-yellow {
  background-color: hsl(42, 100%, 70%);
}

.text-yellow {
  color: hsl(42, 100%, 70%);
}

.bg-dot-pattern {
  background-color: transparent;
  background-image: radial-gradient(var(--clr-dark) 1px, transparent 1px), radial-gradient(var(--clr-dark) 1px, var(--clr-tertiary) 1px);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
}

.bg-gradient {
  background: linear-gradient(135deg, var(--clr-primary-800), var(--clr-secondary-600));
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-expletus {
  font-family: "Expletus Sans", sans-serif;
}

.ff-leauge-gothic {
  font-family: "League Gothic", sans-serif;
}

.fs-mega {
  font-size: var(--fs-mega);
}

.fs-1000 {
  font-size: var(--fs-1000);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-mega {
  line-height: 1.1;
  letter-spacing: -0.24rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.3;
}

.paragraph-width {
  max-width: 50ch;
}

.flow * + * {
  margin-top: var(--flow-gap, 1rem);
}

.ms-auto {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.mx-auto {
  margin-inline: auto;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.m-0 {
  padding: 0 !important;
}

.mx-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.my-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ms-0 {
  padding-left: 0 !important;
}

.mt-0 {
  padding-top: 0 !important;
}

.me-0 {
  padding-right: 0 !important;
}

.mb-0 {
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.m-1 {
  padding: 0.25rem !important;
}

.mx-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.my-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ms-1 {
  padding-left: 0.25rem !important;
}

.mt-1 {
  padding-top: 0.25rem !important;
}

.me-1 {
  padding-right: 0.25rem !important;
}

.mb-1 {
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.m-2 {
  padding: 0.5rem !important;
}

.mx-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.my-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ms-2 {
  padding-left: 0.5rem !important;
}

.mt-2 {
  padding-top: 0.5rem !important;
}

.me-2 {
  padding-right: 0.5rem !important;
}

.mb-2 {
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 0.75rem !important;
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.ps-3 {
  padding-left: 0.75rem !important;
}

.pt-3 {
  padding-top: 0.75rem !important;
}

.pe-3 {
  padding-right: 0.75rem !important;
}

.pb-3 {
  padding-bottom: 0.75rem !important;
}

.m-3 {
  padding: 0.75rem !important;
}

.mx-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.my-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.ms-3 {
  padding-left: 0.75rem !important;
}

.mt-3 {
  padding-top: 0.75rem !important;
}

.me-3 {
  padding-right: 0.75rem !important;
}

.mb-3 {
  padding-bottom: 0.75rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ps-4 {
  padding-left: 1rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.pe-4 {
  padding-right: 1rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.m-4 {
  padding: 1rem !important;
}

.mx-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.my-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ms-4 {
  padding-left: 1rem !important;
}

.mt-4 {
  padding-top: 1rem !important;
}

.me-4 {
  padding-right: 1rem !important;
}

.mb-4 {
  padding-bottom: 1rem !important;
}

.p-5 {
  padding: 1.25rem !important;
}

.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ps-5 {
  padding-left: 1.25rem !important;
}

.pt-5 {
  padding-top: 1.25rem !important;
}

.pe-5 {
  padding-right: 1.25rem !important;
}

.pb-5 {
  padding-bottom: 1.25rem !important;
}

.m-5 {
  padding: 1.25rem !important;
}

.mx-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.my-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ms-5 {
  padding-left: 1.25rem !important;
}

.mt-5 {
  padding-top: 1.25rem !important;
}

.me-5 {
  padding-right: 1.25rem !important;
}

.mb-5 {
  padding-bottom: 1.25rem !important;
}

.p-6 {
  padding: 1.5rem !important;
}

.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ps-6 {
  padding-left: 1.5rem !important;
}

.pt-6 {
  padding-top: 1.5rem !important;
}

.pe-6 {
  padding-right: 1.5rem !important;
}

.pb-6 {
  padding-bottom: 1.5rem !important;
}

.m-6 {
  padding: 1.5rem !important;
}

.mx-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.my-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ms-6 {
  padding-left: 1.5rem !important;
}

.mt-6 {
  padding-top: 1.5rem !important;
}

.me-6 {
  padding-right: 1.5rem !important;
}

.mb-6 {
  padding-bottom: 1.5rem !important;
}

.p-7 {
  padding: 1.75rem !important;
}

.px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.py-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.ps-7 {
  padding-left: 1.75rem !important;
}

.pt-7 {
  padding-top: 1.75rem !important;
}

.pe-7 {
  padding-right: 1.75rem !important;
}

.pb-7 {
  padding-bottom: 1.75rem !important;
}

.m-7 {
  padding: 1.75rem !important;
}

.mx-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.my-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.ms-7 {
  padding-left: 1.75rem !important;
}

.mt-7 {
  padding-top: 1.75rem !important;
}

.me-7 {
  padding-right: 1.75rem !important;
}

.mb-7 {
  padding-bottom: 1.75rem !important;
}

.p-8 {
  padding: 2rem !important;
}

.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ps-8 {
  padding-left: 2rem !important;
}

.pt-8 {
  padding-top: 2rem !important;
}

.pe-8 {
  padding-right: 2rem !important;
}

.pb-8 {
  padding-bottom: 2rem !important;
}

.m-8 {
  padding: 2rem !important;
}

.mx-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.my-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ms-8 {
  padding-left: 2rem !important;
}

.mt-8 {
  padding-top: 2rem !important;
}

.me-8 {
  padding-right: 2rem !important;
}

.mb-8 {
  padding-bottom: 2rem !important;
}

.p-9 {
  padding: 3rem !important;
}

.px-9 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-9 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ps-9 {
  padding-left: 3rem !important;
}

.pt-9 {
  padding-top: 3rem !important;
}

.pe-9 {
  padding-right: 3rem !important;
}

.pb-9 {
  padding-bottom: 3rem !important;
}

.m-9 {
  padding: 3rem !important;
}

.mx-9 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.my-9 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ms-9 {
  padding-left: 3rem !important;
}

.mt-9 {
  padding-top: 3rem !important;
}

.me-9 {
  padding-right: 3rem !important;
}

.mb-9 {
  padding-bottom: 3rem !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ps-auto {
  padding-left: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pe-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.m-auto {
  padding: auto !important;
}

.mx-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.my-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.ms-auto {
  padding-left: auto !important;
}

.mt-auto {
  padding-top: auto !important;
}

.me-auto {
  padding-right: auto !important;
}

.mb-auto {
  padding-bottom: auto !important;
}

/*
* Change the name of grid-layout to grid-layout or something fancy
* make grid responsive with 8 columns for tablet and 4 columns for mobile
* make container more useful
*/
.container {
  margin-inline: auto;
  width: 100%;
  max-width: 90rem;
  padding-inline: 0.75rem;
}
@media (min-width: 37.5em) {
  .container {
    padding-block: var(--cpy, 2rem);
    padding-inline: 1rem;
  }
}
@media (min-width: 37.5em) {
  .container {
    padding-inline: 2rem;
    padding-block: var(--cpy, 2rem);
  }
}
@media (min-width: 48em) {
  .container {
    padding-block: var(--cpy, 4.5rem);
  }
}
@media (min-width: 64em) {
  .container {
    padding: var(--cpy, 5.25rem) var(--cpx, 0);
    max-width: clamp(52.5rem, 80vw, 55rem);
  }
}
@media (min-width: 80em) {
  .container {
    padding-inline: var(--cpx, clamp(11.25rem, 12vw, 12.5rem));
    padding-block: var(--cpy, 6.25rem);
    max-width: unset;
  }
}
@media (min-width: 90em) {
  .container {
    padding: var(--cpy, 6.25rem) var(--cpx, 0);
    max-width: 62.5rem;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
@media (min-width: 37.5em) {
  .grid-layout {
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
  }
}
@media (min-width: 64em) {
  .grid-layout {
    max-width: 90em;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}

.grid-container__signup {
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  row-gap: var(--container-row-gap, 2rem);
  -moz-column-gap: var(--container-column-gap, 2rem);
       column-gap: var(--container-column-gap, 2rem);
}
@media (min-width: 37.5em) {
  .grid-container__signup {
    grid-template-columns: var(--conter-left-size, minmax(1fr, 30rem)) var(--conter-right-size, minmax(1.5fr, 45rem));
  }
}
.grid-container__signin {
  display: grid;
  place-items: center;
  max-width: 90rem;
  margin-inline: auto;
  row-gap: var(--container-row-gap, 2rem);
  -moz-column-gap: var(--container-column-gap, 2rem);
       column-gap: var(--container-column-gap, 2rem);
}
@media (min-width: 37.5em) {
  .grid-container__signin {
    grid-template-columns: var(--conter-right-size, minmax(1fr, 47.25rem)) var(--conter-left-size, minmax(1fr, 42.75rem));
  }
}

.input {
  height: 48px;
  width: 400px;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--clr-dark-100);
  box-shadow: 0px 4px 4px var(--clr-dark-100);
}
.input-signup {
  height: 48px;
  width: 180px;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-dark-100);
  box-shadow: 0px 4px 4px var(--clr-dark-100);
}
.input-signup:focus {
  outline: none;
  border: 2px solid var(--clr-primary);
  box-shadow: 0px 4px 4px var(--clr-primary-100);
}
.input-signup:not(#fname, #lname) {
  width: 400px;
}
.input-signup__container {
  --flow-gap: 1rem;
  position: relative;
}
.input-signup__container .label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 14px;
}
.input-signup__container .label__text {
  transition: all 250ms ease-out;
  color: var(--clr-dark-400);
}
.input-signup__container .fa-eye {
  display: none;
}
.input-signup__container:focus-within .label__text,
.input-signup__container:focus-within #toggle-password {
  color: var(--clr-primary);
}

.input-signup__container:focus-within .label__text,
:not(.input-signup[value=""]) + .label .label__text {
  font-size: 12px;
  transform: translate(0, -150%);
  background-color: white;
  padding-inline: 8px;
}

.input-signup__container:focus-within .far,
:not(.input-signup[value=""]) + #toggle-password {
  display: block;
  right: 1rem;
  position: absolute;
  top: 1rem;
  cursor: pointer;
}

:not(.input-signup[value=""]) + .far {
  color: var(--clr-dark-400);
}

.label,
.input-signup__container:has(#lname),
#toggle-password {
  --flow-gap: none;
}

/*
* Add btn sizes small,medium and big
* Provide animation and transtion on hover,focus-visible and active state
*
*
*/
.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br, 0.75rem);
  background: var(--bg, var(--clr-primary));
  box-shadow: 0 4px 4px var(--bs, var(--clr-primary-400));
  transition: box-shadow 500ms ease-in-out;
}
.btn:is(:hover, :focus-visible) {
  box-shadow: 0 4px 4px var(--hbs, var(--clr-tertiary-400));
}
.btn-s {
  padding-inline: var(--px, 1em);
  height: 2.5rem;
}
.btn-m {
  padding-inline: var(--px, 1.5rem);
  height: 3rem;
}
.btn-l {
  padding-inline: var(--px, 2rem);
  height: 4rem;
}
.btn__hover-effect {
  --flow-gap: 3rem;
  width: 25rem;
  transition: background 500ms;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.btn__hover-effect::before {
  content: "";
  width: 10%;
  margin: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--hbg, var(--clr-tertiary));
  transition: scale 500ms 166.6666666667ms, opacity 250ms;
}
.btn__hover-effect:is(:hover, :focus-visible)::before {
  scale: 20;
  opacity: 1;
}
.btn__hover-effect > span:is(:first-of-type, :last-of-type) {
  z-index: -1;
  width: 33.3333333333%;
  height: 100%;
  background: transparent;
  position: absolute;
}
.btn__hover-effect > :first-child {
  left: 0;
  top: 0;
}
.btn__hover-effect:has(:first-child:is(:hover, :focus-visible))::before {
  margin-left: 0;
  transition: scale 250ms, opacity 125ms;
}
.btn__hover-effect > :last-child {
  --flow-gap: none;
  right: 0;
  top: 0;
}
.btn__hover-effect:has(:last-child:is(:hover, :focus-visible))::before {
  margin-right: 0;
  transition: scale 250ms, opacity 125ms;
}

.hero {
  overflow: hidden;
}
.hero__icon {
  grid-column: 2/5;
  display: grid;
  place-items: center;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.hero__heading {
  grid-column: 4/10;
  text-align: center;
}
.hero__txt {
  grid-column: 2/12;
  max-width: 55ch;
  text-align: center;
  margin: 2.5rem auto;
}
.hero .btn {
  --bg: var(--clr-secondary);
  --bs: var(--clr-dark-400);
  --hbs: var(--clr-secondary-400);
  grid-column: 6/8;
}

.register__article {
  position: relative;
  isolation: isolate;
}
.register__icon {
  position: absolute;
  left: -3.125rem;
  top: 2.5rem;
  z-index: -1;
}
.register__heading {
  grid-column: 1/-1;
}
.register__txt {
  grid-column: span 6;
}

.revolution__icon {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
  background: linear-gradient(135deg, #000 0%, #073b4c 100%);
}
.revolution__heading {
  grid-column: 1/-1;
}
.revolution__feature {
  grid-column: span 4;
}
.revolution__feature:nth-of-type(1), .revolution__feature:nth-of-type(2), .revolution__feature:nth-of-type(3) {
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}

.get-started {
  --txt-align: center;
}
.get-started__icon {
  grid-column: 6/8;
  display: grid;
  place-items: center;
}
.get-started__heading {
  grid-column: 6/8;
  text-align: var(--txt-align);
}
.get-started__txt {
  grid-column: 4/10;
  text-align: var(--txt-align);
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.get-started__btn-container {
  grid-column: 5/9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.get-started .btn:first-of-type {
  --bg: var(--clr-secondary);
  --bs: var(--clr-dark-400);
  --hbs: var(--clr-secondary-400);
}
.get-started .btn:last-of-type {
  --bg: var(--clr-ash);
  --bs: var(--clr-dark-400);
  --hbs: var(--clr-ash-400);
}

.sucess__heading {
  grid-column: 1/-1;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
}
.sucess__image-container {
  grid-column: span 4;
}

.inspiration__article {
  --cpy: 12rem;
}
.inspiration__heading {
  grid-column: 1/9;
}
.inspiration__txt {
  margin-block: 2.5rem;
  max-width: 48ch;
}
.inspiration__txt-container {
  grid-column: 1/9;
  grid-row: 2;
}
.inspiration__icon {
  grid-column: 9/13;
  grid-row: 1/3;
}

.footer__icon {
  grid-column: 6/8;
  display: grid;
  place-items: center;
}
.footer__copyright, .footer__created-at {
  grid-column: 5/9;
  text-align: center;
}

.signin__illustration {
  grid-column: span 6;
  justify-self: flex-start;
  overflow: hidden;
}
.signin__illustration > svg {
  max-height: 39rem;
  aspect-ratio: 1;
}
.signin__logo {
  --width: 130px;
  width: var(--width);
  height: calc(0.7415137615 * var(--width));
  max-height: 218px;
  max-width: 161.65px;
}
.signin__form {
  --flow: 1.5rem;
  grid-column: 8/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin__form hr {
  height: 3px;
  color: var(--clr-ash);
  width: 100%;
}
.signin__form .btn:first-of-type {
  --bg: var(--clr-primary);
  --bs: var(--clr-dark-200);
  --hbs: var(--clr-tertiary-400);
}
.signin__form .btn:last-of-type {
  --bg: var(--clr-ash);
  --bs: var(--clr-dark-100);
  --hbs: var(--clr-light-100);
  --hbg: var(--clr-light);
}
.signin__form .btn:last-of-type span:nth-of-type(2) {
  --flow-gap: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.signin__form .btn:last-of-type .icon__google {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
}
.signin__form .btn:last-of-type .icon__google svg {
  height: var(--size);
}

#usrname-email::before {
  src: url("../../assets/icons/key.svg");
  content: "";
}

ion-icon {
  position: absolute;
  top: 0.75rem;
  left: 1.3125rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-secondary);
}

.input-signin {
  --flow-gap: none;
  height: 48px;
  width: 400px;
  padding: 0.75rem 1.3125rem;
  border: none;
  border-radius: 8px;
  outline: 1px solid var(--clr-primary-100);
  color: var(--clr-light);
  background: var(--clr-light-100);
  box-shadow: 4px 4px var(--clr-primary-100);
  text-indent: 2.0625rem;
}
.input-signin:is(:focus-visible) {
  outline: none;
  color: var(--clr-dark);
  background-color: var(--clr-light-400);
  box-shadow: 0px 4px 4px var(--clr-dark-100);
  outline: 2px solid var(--clr-tertiary);
}
.input-signin__container {
  position: relative;
}

.no-account {
  justify-self: flex-end;
}

.signup {
  --cpy: 5rem 0;
}
.signup__illustration {
  grid-column: 7/13;
  justify-self: end;
  align-self: flex-start;
  overflow: hidden;
}
.signup__illustration > svg {
  max-height: 38rem;
  max-width: 36.018957346rem;
}
.signup__form {
  grid-column: 1/6;
}
.signup__form .btn {
  --bg: var(--clr-primary);
  --bs: var(--clr-dark-200);
  --hbs: var(--clr-tertiary-400);
}
.signup__form .name {
  --flow-gap: 1.25rem;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.signup__form .terms-and-conditions {
  margin-inline: auto;
  width: 43ch;
  font-size: var(--fs-200);
  line-height: 1.3;
  text-align: center;
}/*# sourceMappingURL=main.css.map */