$colormap: (
  primary: (
    100: hsl(170 100% 32% / 0.1),
    150: hsl(170 100% 32% / 0.15),
    400: hsl(170 100% 32% / 0.4),
    800: hsl(170 100% 32% / 0.8),
    "": hsl(170, 100%, 32%),
    // 500: hsl(170, 100%, 40%),
  ),
  secondary: (
    100: hsl(36 88% 53% / 0.1),
    400: hsl(36 88% 53% / 0.4),
    600: hsl(36 88% 53% / 0.6),
    // "": hsl(36, 88%, 53%),
    "": hsl(36, 88%, 53%),
  ),
  tertiary: (
    400: hsl(164 95% 43% / 0.4),
    "": hsl(164 95% 43%),
  ),
  accent: (
    "": hsl(195, 83%, 16%),
  ),
  "blue": (
    "": hsl(230 100% 41%),
  ),
  ash: (
    100: hsl(0 0% 85% / 0.1),
    400: hsl(0 0% 85% / 0.4),
    "": hsl(0 0% 85%),
  ),
  light: (
    100: hsl(0 0% 100% / 0.1),
    400: hsl(0 0% 100% / 0.4),
    "": hsl(0 0% 100%),
  ),
  dark: (
    100: hsl(0 0% 10% / 0.1),
    200: hsl(0 0% 10% / 0.2),
    400: hsl(0 0% 10% / 0.4),
    "": hsl(0 0% 10%),
  ),
  "yellow": (
    "": hsl(42, 100%, 70%),
  ),
);
