// Breakpoints
$breakpoints: (
  /* 600px */ s: 37.5em,
  /* 768px */ m: 48em,
  /* 1024px */ l: 64em,
  /* 1280px */ xl: 80em,
  /* 1440px */ xxl: 90em
);

// Spacing
$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 3rem,
  auto: auto,
);
