.forgot-password {
  ion-icon[name="key-outline"] {
    font-size: var(--fs-900);
    color: var(--clr-primary);
  }
  ion-icon[name="mail-outline"] {
    font-size: var(--fs-1000);
    color: var(--clr-primary);
  }

  .label,
  p {
    margin-block: 0.75rem 2rem;
    text-align: center;
    width: 48ch;
  }
}
