.forgot-password {
  .link-expired {
    --flex-gap:0.75rem;

    border-radius: 0.25rem;
    padding: 1rem;
    font-weight: var(--fw-500);
    color: hsl(45, 94%, 27%);
    background-color: hsl(46, 100%, 90%);
  }
  ion-icon[name="alert-circle-outline"] {
    font-size: var(--fs-900);
  }
  ion-icon[name="key-outline"] {
    font-size: var(--fs-900);
    color: var(--clr-primary);
  }
  ion-icon[name="mail-outline"] {
    font-size: var(--fs-1000);
    color: var(--clr-primary);
  }

  .label-email,
  p {
    margin-block: 0.75rem 2rem;
    text-align: center;
    width: 48ch;
  }


  .input {
    // .input__password-reset
    &__password-reset {
      // padding
      // padding-inline-end: 3.75rem;
      // focus
      --foc: var(--clr-primary);

      // .input__password-reset__container
      &__container {
        max-width: 25rem;
        position: relative;
  
        .validation-alerts{
          --flow-gap:0.5rem;
        }
  
        .label {
          position: absolute;
          inset-block-start: 1rem;
          inset-inline-start: 1rem;
          pointer-events: none;
  
          &__text {
            transition: all 250ms ease-out;
          }
  
        }
  
        #toggle-password {
          cursor: pointer;
          display: block;
          position: absolute;
          inset: 0;
        }
        &:focus-within {
          .label__text,
          #toggle-password {
            color: var(--clr-primary);
          }
        }
      }
    }
  }

  .success-container {
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;

    p {
      color: #555;
    }
  }
}

.input__password-reset__container:focus-within .label__text,
.forgot-password :not(.input-text[value=""]) + .label .label__text {
  font-size: 12px;
  transform: translate(0, -150%);
  background: var(--bg-label-focus, white);
  padding-inline: 8px;
}
