.forgot-password {
  .link-expired {
    --flex-gap:0.75rem;

    border-radius: 0.25rem;
    padding: 1rem;
    font-weight: var(--fw-500);
    color: hsl(45, 94%, 27%);
    background-color: hsl(46, 100%, 90%);
  }
  ion-icon[name="alert-circle-outline"] {
    font-size: var(--fs-900);
  }
  ion-icon[name="key-outline"] {
    font-size: var(--fs-900);
    color: var(--clr-primary);
  }
  ion-icon[name="mail-outline"] {
    font-size: var(--fs-1000);
    color: var(--clr-primary);
  }

  .label,
  p {
    margin-block: 0.75rem 2rem;
    text-align: center;
    width: 48ch;
  }
}
