@use "../abstracts/layout-scale" as *;
@use "../abstracts/mixins" as *;
@use "../utilities/color" as *;
.signup {
  // container padding top 4rem and bottom 0
  @include mediaquery(s) {
    // --cpx: 0;
  }
  @include mediaquery(m) {
  }
  @include mediaquery(l) {
    --cw: clamp(55rem, 80vw, 65rem);
  }
  @include mediaquery(xl) {
    --cpy: min(6.25rem, 3vw);
    --cpx: clamp(11.125rem, 13.9vw, 12.5rem);
  }
  @include mediaquery(xxl) {
    --cw: min(100%, 72.5rem);
  }
  // --cpy: 5rem 0;
  &__illustration {
    grid-column: 7/13;
    justify-self: end;
    align-self: flex-start;
    overflow: hidden;
    > svg {
      max-height: 38rem;
      max-width: min(36.018957345971565rem, 100%);
      // aspect-ratio: 1.0551948051948052;
    }
  }

  &__form {
    --flow-gap: 1.5rem;

    grid-column: 1/6;
    justify-self: center;
    max-width: 25rem;
    align-self: flex-start;
    @include mediaquery(xl) {
      align-self: center;
    }

    .name {
      > :nth-child(n) {
        width: 11.25rem;
      }
      --flow-gap: 2rem;
      display: flex;
      justify-content: space-between;
      width: min(25rem, 100%);
    }

    .btn {
      --flow-gap: 3rem;

      --bg: var(--clr-primary);
      --bs: var(--clr-dark-200);
      --hbs: var(--clr-tertiary-400);
    }

    .terms-and-conditions {
      width: min(43ch, 25rem, 100%);
      line-height: 1.3;
      text-align: center;
    }
  }
}

.input {
  // .input-signup
  &-signup {
    // focus
    --foc: var(--clr-primary);
    --iw: min(25rem, 100%);

    &:is(#fname, #lname) {
      // width: 200px;
      --iw: 11.25rem;
    }
    // .input-signup__container
    &__container {
      max-width: 25rem;
      position: relative;

      .validation-alerts {
        --flow-gap: 0.5rem;
      }
      
      .label {
        position: absolute;
        inset-block-start: 1rem;
        inset-inline-start: 1rem;
        pointer-events: none;
        
        &__text {
          transition: all 250ms ease-out;
        }
      }

      #toggle-password {
        cursor: pointer;
        display: block;
        position: absolute;
        inset: 0;
      }
      &:focus-within {
        .label__text,
        #toggle-password {
          color: var(--clr-primary);
        }
      }
    }
  }
}

.input-signup__container:focus-within .label__text,
.signup :not(.input-signup[value=""]) + .label .label__text,
#hydrationForm :not(.input-signup[value=""]) + .label .label__text {
  font-size: 12px;
  transform: translate(0, -150%);
  background: var(--bg-label-focus, white);
  padding-inline: 8px;
}

.label,
 .name .input-signup__container{
  --flow-gap: none;
}

.account {
  text-align: center;
  --flow-gap: 2rem;
}
