.notification {
  --gradient: linear-gradient(
    to bottom,
    var(--clr-primary),
    var(--clr-tertiary)
  );
  --color: var(--clr-tertiary);
  --description-color: var(--clr-ash);
  --background: var(--clr-accent);

  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;

  .noti {
    position: relative;
    height: 0;
    transition: height 300ms ease;
    flex-shrink: 0;
    opacity: 1;

    &.out {
      animation: notiOut 500ms ease forwards;
    }
  }

  .noticard {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    width: 18rem;
    background: var(--background);
    border-radius: 1rem;
    overflow: hidden;
    animation: notiCardIn 500ms ease;

    &:before {
      position: absolute;
      content: "";
      inset: 0.0625rem;
      border-radius: 0.9375rem;
      background: var(--background);
      z-index: 2;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0.25rem;
      inset: 0.65rem auto 0.65rem 0.5rem;
      border-radius: 0.125rem;
      background: var(--gradient);
      transition: transform 300ms ease;
      z-index: 4;
    }

    &:hover:after {
      transform: translateX(0.15rem);
    }
  }

  .notititle {
    color: var(--color);
    padding: 0.65rem 0.5rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    transition: transform 300ms ease;
    z-index: 5;
    display: inline-flex;
    gap: 0.5rem;
    place-items: center;

    &:hover {
      transform: translateX(0.15rem);
    }
  }

  .notidesc {
    font-family: var(--ff-expletus);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
    color: var(--description-color);
    padding: 0 0.5rem 0.85rem 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;

    &:hover {
      transform: translateX(0.25rem);
    }
  }

  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle closest-side at center,
      white,
      transparent
    );
    opacity: 0;
    transition: opacity 300ms ease;
  }

  .notiglow {
    z-index: 3;

    &:hover {
      opacity: 0.1;
    }
  }

  .notiborderglow {
    z-index: 1;

    &:hover {
      opacity: 0.1;
    }
  }
}

@keyframes notiOut {
  to {
    height: 0;
  }
}

@keyframes notiCardIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes notiCardOut {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
