.dashboard {
  &__container {
    // height: 100vh;
    --grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 260px), 1fr));
  }
  &__metric {
    // background: var(--clr-accent);
    background: var(--clr-accent);
    color: var(--clr-light);
    padding: 2rem 4rem;
    border-radius: 0.5rem;
  }
}
