@use "../abstracts/layout-scale" as *;
@use "../abstracts/mixins" as *;

/*
* Change the name of grid-layout to grid-layout or something fancy
* make grid responsive with 8 columns for tablet and 4 columns for mobile
* make container more useful
*/
.container {
  margin-inline: auto;
  width: 100%;
  max-width: 90rem;
  padding-inline: 0.75rem;
  @include mediaquery(s) {
    padding-block: var(--cpy, 2rem);
    padding-inline: 1rem;
  }
  @include mediaquery(s) {
    padding-inline: 2rem;
    padding-block: var(--cpy, 2rem);
    // max-width: ;
  }
  @include mediaquery(m) {
    padding-block: var(--cpy, 4.5rem);
    // max-width: 45rem;
  }
  @include mediaquery(l) {
    padding: var(--cpy, 5.25rem) var(--cpx, 0);
    // max-width: 52.5rem;
    max-width: clamp(52.5rem, 80vw, 55rem);
  }
  @include mediaquery(xl) {
    padding-inline: var(--cpx, clamp(11.25rem, 12vw, 12.5rem));
    padding-block: var(--cpy, 6.25rem);
    max-width: unset;
  }
  @include mediaquery(xxl) {
    padding: var(--cpy, 6.25rem) var(--cpx, 0);
    max-width: 62.5rem;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  @include mediaquery(s) {
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
  }
  @include mediaquery(l) {
    max-width: map-get($breakpoints, xxl);
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
.grid-container {
  &__signup {
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    row-gap: var(--container-row-gap, 2rem);
    column-gap: var(--container-column-gap, 2rem);

    @include mediaquery(s) {
      grid-template-columns:
        var(--conter-left-size, minmax(1fr, 30rem))
        var(--conter-right-size, minmax(1.5fr, 45rem));
    }
  }

  &__signin {
    display: grid;
    place-items: center;
    max-width: 90rem;
    margin-inline: auto;
    row-gap: var(--container-row-gap, 2rem);
    column-gap: var(--container-column-gap, 2rem);

    @include mediaquery(s) {
      grid-template-columns:
        var(--conter-right-size, minmax(1fr, 47.25rem))
        var(--conter-left-size, minmax(1fr, 42.75rem));
    }
  }
}
